@import "./global.scss";
@import "./typography.css";
.container {
  //background: #e9e9e9;
  padding: 0px 8% 50px 8%;

  margin-top: 115px;
  .logoContainer {
    display: flex;
    align-items: center;
    z-index: 50;
    .logo {
      width: 40px;
      height: 40px;
      path {
        fill: #000;
      }
    }
    .logoText {
      display: block;
      font-family: "Lato";
      font-size: 12px;
      letter-spacing: 3px;
      margin-left: 10px;
    }
    .desktopCopyText {
      display: none;
    }
  }
  .contactContainer {
    .newsLetterSignUp {
      margin-top: 70px;
      .title {
        font-size: 25px;
        font-family: "alia";
        font-weight: normal;
        margin: 0 0 2rem 0;
        .titleAmp {
          font-style: italic;
        }
      }
      .emailInput {
        border: none;
        border-bottom: 1px solid #000;
        background: none;
        width: 100%;
        padding: 0.5rem 0;
        position: relative;
        font-family: "Lato";
        font-size: 16px;
        line-height: 1.9;
      }
      .emailInput::placeholder {
        color: #000;
      }
      .inputContainer {
        position: relative;
      }
      .emailSignUpButton {
        position: absolute;
        background: none;
        border: none;
        font-weight: bold;
        font-size: 25px;
        right: 0;
        top: 10px;
        padding: 0;
      }
    }
    .contactDetailsContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-family: "Lato";
      font-size: 0.85rem;
      margin-top: 10vh;
      margin-bottom: 10vh;
      align-items: flex-start;
      a {
        display: block;
        color: #000;
        text-decoration: none;
        margin-bottom: 0.75rem;
      }
      .internalLinks {
        // margin-right: 30px;
      }
      .externalLinks {
      }
      .contactLinks {
      }
    }
    .copyContainer {
      font-family: "Lato";
      font-weight: 500;
      font-size: 0.85rem;
      .copyText {
        display: block;
        margin-bottom: 0.75rem;
      }
      .siteCreators {
        .creatorLink {
          color: #000;
          text-decoration: none;
          padding-bottom: 2px;
          border-bottom: 1px solid #000;
        }
        span {
          display: block;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
  @include breakpoint(600px) {
    margin-top: 15vw;
  }
  @include breakpoint($medium) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    width: 90%;
    .logoContainer {
      text-align: left;
      align-items: flex-start;
      position: relative;
      min-width: 300px;
      .logo {
      }
      .logoText {
        margin-top: 12px;
      }
      .desktopCopyText {
        display: block;
        font-family: "Lato";
        font-weight: 500;
        font-size: 0.85rem;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .contactContainer {
      width: 58%;
      .newsLetterSignUp {
        margin-top: 0;
        .title {
          font-size: 30px;
        }
      }
      .copyContainer {
        .siteCreators {
          text-align: right;
          span {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  @include breakpoint($large) {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 5%;
    .logoContainer {
      .logo {
        width: 60px;
        height: 60px;
      }
      .logoText {
        font-size: 17px;
        margin-top: 15px;
      }
    }
    .contactContainer {
      .newsLetterSignUp {
        margin-top: 0;
        margin-bottom: 3rem;
        .title {
          font-size: 2rem;
        }
        .emailInput {
          padding-bottom: 10px;
        }
      }
      .contactDetailsContainer {
        a {
          font-size: 1rem;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
  @include breakpoint($XLarge) {
    .logoContainer {
      margin-top: 5px;
      .logo {
        width: 70px;
        height: 70px;
      }
      .logoText {
        font-size: 19px;
      }
    }
    .contactContainer {
      .newsLetterSignUp {
        .title {
          font-size: 2.5rem;
        }
      }
    }
  }
}
