@import "./global.scss";
@import "./typography.css";

.heading {
  font-family: "alia", serif;
  font-variant: normal;
  font-weight: 300;
  font-style: normal;
  font-size: 100px;
  text-align: center;
}
@include breakpoint($large) {
  .heading {
    font-size: 200px;
  }
}
