@import "./global.scss";
.container {
  width: 100%;
  margin-top: 115px;
  display: flex;
  flex-direction: column-reverse;
  .imageContainer {
    margin-top: 115px;
    padding: 0 8%;
    img {
      min-height: 300px;
    }
  }
  .textContainer {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    //padding-top: 4rem;
    .textInnerContainer {
      .title {
        margin-top: 0;
        font-weight: normal;
        font-family: "Lora";
        font-size: 25px;
        margin-bottom: 20px;
      }
      .textContent {
        font-family: "Poppins";
        font-size: 15px;

        line-height: 1.6;
        margin-bottom: 1rem;
        margin-top: 0;
      }
      .moreInfo {
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        font-size: 0.8rem;
        position: relative;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;
        color: #000;
        .arrow {
          font-size: 1.1rem;
        }
      }
    }
  }
  @include breakpoint(600px) {
    margin-top: 15vw;
  }
  @include breakpoint($medium) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    width: 90%;
    .image {
      max-height: 85vh;
    }
    .imageContainer {
      width: 50vw;
      margin-top: 0;
      padding: 0;
    }
    .textContainer {
      justify-content: flex-start;
      margin-left: 5%;
      margin-right: 5%;
      padding: 0;
      max-width: calc(50vw - 10%);
      .textInnerContainer {
        width: unset;
        .title {
          padding-top: 0;
        }
      }
    }
  }
  @include breakpoint($large) {
    .textContainer {
      .textInnerContainer {
        .title {
        }
        .textContent {
          line-height: 1.9;
        }
      }
    }
  }
  @include breakpoint($MLarge) {
    .textContainer {
      margin-left: 100px;
      max-width: calc(1500px / 2 - 100px);
      .textInnerContainer {
        .title {
          font-size: 2.5rem;
        }
        .textContent {
          font-size: 18px;
          margin-top: 2rem;
          margin-bottom: 2rem;
          line-height: 2;
        }
        .moreInfo {
          font-size: 18px;
          border-bottom: 2px solid #000;
          .arrow {
            font-size: 1.6rem;
          }
        }
      }
    }
    .imageContainer {
    }
  }
  @include breakpoint($XLarge) {
    .textContainer {
      padding-bottom: 0;
      .textInnerContainer {
        // .moreInfo {
        //   font-size: 1rem;
        // }
      }
    }
  }
}
