@import "./global.scss";
@import "./typography.css";

.socialScrollOutContainer {
  position: absolute;
  z-index: 11;
  bottom: 50px;
  right: 50px;
  .socialButton {
    background: #8b9187;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: none;
    .innerContainer {
      position: relative;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      .upperSpan {
        background-color: #f5f5f5;
        height: 50%;
        width: 1px;
        position: absolute;
        top: 25%;
        left: calc(50% - 1px);
      }
      .lowerSpan {
        background-color: #f5f5f5;
        width: 65%;
        height: 1px;
        position: absolute;
        top: calc(50% - 1px);
        left: 17.5%;
      }
    }
  }
  .socialWrapper {
    width: fit-content;
    display: inline-block;
    overflow-x: hidden;
    vertical-align: middle;
    .textList {
      .socialItem {
        display: block;
        &:not(:first-child) {
          //margin-left: 30px;
          margin-top: 10px;
        }
        text-align: right;
        .socialLink {
          color: #000;
          text-decoration: none;
          font-family: "Lato";

          letter-spacing: 1px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@include breakpoint($medium) {
  .socialScrollOutContainer {
    z-index: 5;
    left: 100px;
    bottom: 50px;
    right: unset;

    .socialButton {
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      left: -50px;
      margin-left: unset;

      .innerContainer {
        .upperSpan {
          background-color: #000;
        }
        .lowerSpan {
          background-color: #000;
        }
      }
    }
    .socialWrapper {
      width: fit-content;
      display: inline-block;
      overflow-x: hidden;
      vertical-align: middle;
      margin-left: 30px;
      .textList {
        padding: 0;
        .socialItem {
          display: inline-block;
          margin-left: 0;
          &:not(:last-child) {
            margin-right: 30px;
            margin-top: 0;
          }
          &:last-child {
            margin-top: 0;
          }
          text-align: right;
          .socialLink {
            color: #000;
            text-decoration: none;
            font-family: "Lato";

            letter-spacing: 1px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
