@import "./typography.css";
@import "./global.scss";
.pageContent {
  .content {
    padding: 0 8%;
    background: #c2cfb8;
    padding-top: 115px;
    padding-bottom: 115px;
  }
  &.detailsContainer {
    .content {
      background: #fff;
      p,
      .title,
      li {
        color: #a98d6e;
      }
    }
  }

  .contactButton {
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 0.75rem;
    padding: 0;
    font-size: 0.8rem;
    position: relative;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    color: #000;
    .arrowIcon {
      margin-left: 10px;
      font-size: 14px;
      font-weight: lighter;
      transform: rotate(-45deg);
    }
  }
  .list {
    margin: 0;
    padding: 0;
    padding-left: 8%;
    li {
      font-size: 16px;
      font-family: "Arimo", sans-serif;
      line-height: 1.7;
      color: #fff;
    }
  }
  .title {
    font-family: "alia";
    font-weight: normal;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #fff;
  }
  p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Arimo", sans-serif;
    line-height: 1.7;
  }
}
@include breakpoint(600px) {
  .pageContent {
    margin-top: 15vw;
    // &:last-of-type {
    //   margin-top: 0;
    // }
  }
}
@include breakpoint($medium) {
  .pageContent {
    display: flex;
    &:last-of-type {
      flex-direction: row-reverse;
    }
    .content {
      max-width: 650px;
      min-width: 500px;
    }
    .title {
      font-size: 2rem;
    }
    p {
      font-size: 16px;
    }
    .contactButton {
      font-size: 16px;
      .arrowIcon {
        font-size: 15px;
      }
    }
  }
}
@include breakpoint(1500px) {
  .pageContent {
    .content {
      padding-left: calc((100vw - 1500px) / 2);
    }
    &:last-of-type {
      .content {
        padding-left: 0;
        padding-right: calc((100vw - 1500px) / 2);
      }
    }
  }
}
@include breakpoint($XLarge) {
  .pageContent {
    .title {
      font-size: 2.7rem;
    }
    p {
      font-size: 18px;
    }
  }
}
