@import "./typography.css";
@import "./global.scss";
.detailsContainer {
  .content {
    background: #c2cfb8;
    padding: 0 8%;
    padding-top: 115px;
    padding-bottom: 115px;
    p,
    .title,
    li {
      color: #fff;
    }
  }
  .list {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    li {
      font-size: 16px;
      font-family: "Arimo", sans-serif;
      line-height: 1.7;
      color: #fff;
    }
  }
  .title {
    font-family: "alia";
    font-weight: normal;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #a98d6e;
  }
  p {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Arimo", sans-serif;
    line-height: 1.7;
  }
}
.pageContent {
  .content {
    padding: 0 8%;
    //background: #c2cfb8;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
  }

  .contactButton {
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 0.75rem;
    padding: 0;
    font-size: 0.8rem;
    position: relative;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    color: #000;
    .arrowIcon {
      margin-left: 10px;
      font-size: 14px;
      font-weight: lighter;
      transform: rotate(-45deg);
    }
  }

  .title {
    font-family: "alia";
    font-weight: normal;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #a98d6e;
  }
  p {
    color: #a98d6e;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Arimo", sans-serif;
    line-height: 1.7;
  }
}
@include breakpoint(600px) {
  .pageContent {
    margin-top: 15vw;
    .content {
      padding-top: 0;
    }
  }
  .detailsContainer {
    margin-top: 5vw;
  }
}
@include breakpoint($medium) {
  .detailsContainer {
    .list {
      margin: 0;
      padding: 0;

      padding-left: 20px;
      li {
        font-size: 18px;
      }
    }
    .title {
      font-family: "alia";
      font-weight: normal;
      font-size: 64px;
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 1.1;
    }
    p {
      font-size: 18px;
    }
  }
  .pageContent {
    //display: flex;
    &:last-of-type {
      flex-direction: row-reverse;
    }
    .content {
      max-width: 1000px;
      min-width: 500px;
      margin: 0 auto;
    }
    .title {
      font-size: 64px;
    }
    p {
      font-size: 18px;
      line-height: 2;
    }
    .contactButton {
      font-size: 18px;
      .arrowIcon {
        font-size: 15px;
      }
    }
  }
}

@include breakpoint($large) {
  .detailsContainer {
    display: flex;
    .content {
      width: 100%;
      min-width: 600px;
      display: flex;
      /* align-items: center; */
      justify-content: center;
      flex-direction: column;
    }
  }
}
@include breakpoint(1500px) {
  .detailsContainer {
    .content {
      padding-right: calc((100vw - 1500px) / 2);
    }

    .title {
      font-size: 80px;
    }
  }
}
