@import "./global.scss";
@import "./typography.css";
.teamMissionStatement {
  padding: 0 8%;
  margin-top: 115px;
  .content {
    font-family: "alia";
    font-size: 24px;
    line-height: 1.4;
    position: relative;
  }
}
.imagesContainer {
  margin-top: 115px;
  padding: 0 5%;
}

@include breakpoint(600px) {
  .teamMissionStatement {
    margin-top: 15vw;
    .content {
      font-size: 22px;
    }
  }
  .imagesContainer {
    margin-top: 15vw;
  }
}

@include breakpoint($medium) {
  .teamMissionStatement {
    .content {
      font-size: 22px;
    }
  }
}

@include breakpoint($large) {
  .teamMissionStatement {
    width: 70%;
    position: relative;
    .content {
      font-size: 2rem;
      position: static;
    }
  }
}
@include breakpoint($XLarge) {
  .teamMissionStatement {
    max-width: 1500px;
    padding-left: calc((100vw - 1500px) / 2);

    .content {
      font-size: 2.5rem;
    }
  }
}
.rotateSvg {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 5%;
  transform-origin: center center !important;
  bottom: -85px;
  @include breakpoint($large) {
    width: 120px;
    height: 120px;
    right: 0;
    bottom: -150px;
  }
}
