@import "./global.scss";
@import "./typography.css";
.sectionContainer {
  //height: 100vh;
  margin-top: 115px;
  width: 92%;
  margin-left: 8%;
  margin-right: 0;
  overflow: hidden;
  .heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    max-width: 1500px;
    .title {
      font-weight: 500;
      font-size: 15px;
      font-family: "Poppins";
      margin: 0;
    }
    .loadingBarOuter {
      width: 80px;
      height: 2px;
      background: #d6d6d6;
      border-radius: 15px;
      margin-right: 8%;
      display: none;
      .loadingBarInner {
        width: 25%;
        height: 100%;
        background-color: black;
        border-radius: 15px;
      }
    }
  }
  .reviewsContainer {
    font-family: "alia";
    margin-bottom: 10vh;
    overflow: hidden;
    width: 100%;
    .reviewsInnerContainer {
      display: flex;
      width: 100%;
    }
    .review {
      min-width: 75%;
      font-size: 36px;
      line-height: 1.1;
      margin-right: 5%;
      opacity: 0.3;
      &.reviewInView {
        opacity: 1;
      }
    }
  }
  .controlsContainer {
    display: flex;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
    //align-items: center;
    .controls {
      display: flex;
      //align-items: center;
      .arrowContainer {
        button {
          background: none;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
      .reviewAuthorContainer {
        margin-top: 5px;
        height: 21px;
        overflow: hidden;
        position: relative;
        .reviewAuthorInnerContainer {
          height: fit-content;
          display: flex;
          flex-direction: column;
          .reviewAuthor {
            font-family: "Poppins";
            font-size: 15px;
            margin-left: 20px;
            font-weight: 500;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .reviewIndexContainer {
      font-family: "Poppins";
      font-size: 15px;
      margin-right: 8%;
      display: flex;
      font-weight: 500;
      margin-top: 5px;
      height: 20px;
      overflow: hidden;
      .reviewIndexInnerContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: space-between;
      }

      .reviewIndex {
      }
      .reviewTotal {
      }
    }
  }
  @include breakpoint(600px) {
    margin-top: 15vw;
  }
  @include breakpoint($medium) {
    .reviewsContainer {
      .review {
        //font-size: 1.2rem;
      }
    }
    .heading {
      .title {
        font-size: 0.95rem;
      }
      .loadingBarOuter {
        width: 150px;
        .loadingBarInner {
        }
      }
    }

    .controlsContainer {
      .controls {
        .arrowContainer {
          button {
            font-size: 1.5rem;
          }
        }
        .reviewAuthorContainer {
          height: 23px;
          .reviewAuthorInnerContainer {
            justify-content: space-between;
            .reviewAuthor {
              font-size: 0.95rem;
            }
          }
        }
      }
      .reviewIndexContainer {
        font-size: 0.95rem;
        height: 20px;
        .reviewIndexInnerContainer {
          justify-content: space-between;
        }
      }
    }
  }
  @include breakpoint($large) {
    .reviewsContainer {
      .review {
        font-size: 48px;
        min-width: 60%;
        margin-right: 20%;
        // margin-right: 150px;
      }
    }
  }
  @include breakpoint($MLarge) {
    //max-width: 1500px;
    margin-left: calc((100vw - 1500px) / 2);
    width: calc(100% - (100vw - 1500px) / 2);
    .heading {
      //margin-bottom: 5.5rem;
      .title {
        font-size: 18px;
      }
      .loadingBarOuter {
        width: 200px;
        height: 3px;
        margin-right: 0;
      }
    }
    .controlsContainer {
      .controls {
        .arrowContainer {
          button {
            font-size: 1.5rem;
          }
        }
        .reviewAuthorContainer {
          height: 25px;
          .reviewAuthorInnerContainer {
            .reviewAuthor {
              font-size: 18px;
            }
          }
        }
      }
      .reviewIndexContainer {
        height: 25px;
        font-size: 1.2rem;
        margin-right: 0;
      }
    }
    .reviewsContainer {
      //margin-bottom: 13vh;
      .review {
        font-size: 64px;
      }
    }
  }
  @include breakpoint($XLarge) {
    //max-width: 1500px;

    .heading {
      .title {
        font-size: 1.2rem;
      }
      .loadingBarOuter {
        width: 200px;
        height: 3px;
        //margin-right: 10%;
      }
    }
    .controlsContainer {
      .controls {
        .arrowContainer {
          button {
            font-size: 1.5rem;
          }
        }
        .reviewAuthorContainer {
          margin-top: 3px;
        }
        .reviewAuthor {
          font-size: 1.2rem;
        }
      }
      .reviewIndexContainer {
        //margin-right: 10%;
        font-size: 1.2rem;
      }
    }
  }
}
